.main
  height: auto
  opacity: 1
  padding: 5px 22px 0
  transition: .5s ease
  background-color: #f6f7f8
  border-radius: 6px
  font-family: MenloRegular, serif
  box-sizing: border-box
  display: flex
  justify-content: space-between
  align-content: space-around
  align-items: flex-start
  flex-wrap: wrap
.curlButtons
  float: right
  display: flex
  padding: 20px 0