@import "../../../styles/variables"
.success
  color: #ffffff
  background-color: $base-color
  min-width: 130px
  border: 1px solid $base-color
  outline: none
  white-space: nowrap
  border-radius: 4px
  cursor: pointer
  padding: 6px 12px
  transition: .3s ease-out
  font-size: 15px
  height: 36px
  &:hover
    background-color: #2031a8
    transition: .3s ease
    border: 1px solid #2031a8
.default
  font-family: $base-font
  color: #7b7b7b
  border-radius: 5px
  display: flex
  align-items: center
  padding: 5px 18px
  margin-left: 10px
  cursor: pointer
  background-color: #edeeef
  text-decoration: none
  border: none
  outline: none
  white-space: nowrap
  transition: all .25s ease-out
  &:hover
    background-color: #e0e0e0
.copy
  background-image: url("/assets/icons/copy.svg")
.code
  background-image: url("/assets/icons/code.svg")
.icon
  display: inline-block
  width: 15px
  height: 15px
  background-size: contain
  font-size: 0
  margin: 0 10px 0 0
@keyframes animateButton
  0%
    margin-left: 30px
  100%
    margin-left: 15px
.buttonWithAnimation
  animation-name: animateButton
  animation-duration: .5s
  margin-left: 15px
