.curlPanel
  ul
    li
      @media screen and (max-width: 640px)
        width: 70%
        word-break: break-all
      b.token
          @media screen and (max-width: 640px)
            &:after
              width: 80%