@import "../../../../../styles/variables"
@import "./List.media.module.sass"
.curlPanel
  font-size: 14px
  color: #20293d
  ul
    list-style-type: none
    padding-left: 0
    margin-top: 17px
    font-family: monospace
    li.withLeft
      margin-left: 14px
    li
      font-size: 14px
      color: #20293d
      b
        color: $base-color
        font-weight: 400
        &.token
          position: relative
          white-space: pre
          overflow: hidden
          color: #f8fafc
          font-size: 12px
          &:after
            color: #05f
            content: "\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022\2022"
            position: absolute
            left: 0
            font-size: 13px
            top: 0
            overflow: hidden
            line-height: 19px
    i
      color: #aeaeae
      font-style: normal