.tabs
  display: flex
  flex-wrap: wrap
  margin-top: 2px
  margin-left: -25px
  padding-left: 25px
  margin-right: -25px
  padding-right: 25px
  position: relative
  &:before
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    border-bottom: 1px solid rgba(0,0,0,.07)
