@import "variables"
body
  min-height: 70px
  border-bottom: 1px solid transparent
  background-color: #f7f7f8
  transition: all .5s ease,background-color .2s ease-out,border-color .2s ease-out
  font-family: $base-font
  color: rgba(0,0,0,.65)
  font-size: 15px
input, select
  color: #20293d
  box-sizing: border-box
  position: relative
  display: inline-block
  width: 100%
  padding: 4px 11px
  line-height: 1.5
  border: 1px solid #d9d9d9
  border-radius: 4px
  transition: all .3s
  &:hover
    border-color: #40a9ff
    border-right-width: 1px!important
  &:focus
    outline: 0
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%)