@keyframes animateInput
  0%
    margin-left: 0
  100%
    margin-left: 15px
.inputText
  min-width: 180px
  max-width: 180px
  height: 36px
  font-size: 16px

.inputWithAnimation
  animation-name: animateInput
  animation-duration: .5s
  margin-left: 15px