@import "./Form.media.module.sass"
.form
  display: flex
  padding: 25px 0
  flex-wrap: wrap
  @media screen and (max-width: 640px)
    justify-content: center
    select, input, button
      margin-top: 5px
      margin-bottom: 5px
