.App
  width: 100%
  max-width: 960px
  margin: 0 auto
  .content
    background-color: #fff
    box-sizing: border-box
    padding: 16px 32px 36px
    box-shadow: -4px 4px 8px 0 rgb(58 70 93 / 5%)
    border-radius: 4px
    margin-bottom: 30px
    margin-top: 60px
    width: 100%