.tab
  cursor: pointer
  margin: 0 32px 0 0
  padding: 12px 16px
  position: relative
  &:not(:last-child)
    margin-right: 15px
  &:before
    content: ""
    position: absolute
    bottom: 0
    left: 0
    right: 100%
    height: 2px
    background-color: transparent
    transition-property: right
    transition-duration: .3s
    transition-timing-function: ease-out
.active
  color: #05f
  &:before
    background-color: #05f
    right: 0
