.ant-select-single:not(.ant-select-customize-input) .ant-select-selector
    height: 36px
    padding-top: 2px
    font-size: 16px
.ant-select
    box-sizing: border-box
    margin: 0
    padding: 0
    color: rgba(0,0,0,.65)
    font-size: 14px
    font-variant: tabular-nums
    line-height: 1.5715
    list-style: none
    font-feature-settings: "tnum"
    position: relative
    display: inline-block
    cursor: pointer
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector
    height: 36px
    padding-top: 2px
    font-size: 16px
.ant-select:not(.ant-select-customize-input) .ant-select-selector
    border-radius: 4px
span.ant-select-arrow
    transform: rotate(0deg)
    transition: transform .3s linear

.ant-select-open
    span.ant-select-arrow
        transform: rotate(180deg)
        transition: transform .3s linear
